*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image:url(human-head-model-wearing-vr-glasses-and-shopping-online-hat-shoe-sunglasses-and-clutch-bag.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    

}
nav{
    display:inline-flexbox;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    margin-bottom:30px;
    width: 100%;
    height: 190px;
    justify-content: space-between;
    background-image: url(wmlogo-01.png);
background-size:cover;
background-repeat: no-repeat;
}
.logo{
    float: right;
   
}
.navlinks {
    float: left;
   list-style: none;
  line-height: 50px;
  background-color: rgba(2, 4, 53, 0.9);
  height: 234px;
 width: 200px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: none;
}
ul.navlinks a{
  color: white;
    text-decoration: none;
   
  
}
.mystyle{
    display: block;
}
.cat{
    margin-top: 40px;
    display: inline-flex;
    justify-content:space-evenly;
    width: 100%;

}

.img{
    box-shadow: 100px red;
}